{% extends "principal/base.html" %}

{% block main %}

<body class="text-center">

  <main class="form-signin w-100 m-auto">
      <form method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal"> Ingresa a tu cuenta </h1>
        <br></br>
         {{form.as_p}}
        
         <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Recordame
            </label>
          </div>
        <button type="submit" style="margin-top: 1em;" class="btn btn-sm btn-outline-primary">Ingresar</button>
        <br></br>
        <a type="button"  href = "{% url "registrate" %}" style="margin-top: 1em;" class="btn btn-sm btn-outline-primary"> Registrate </a>
        
      </form>
     
  </main>
  
</body>
  
{% endblock %}