{% extends "principal/base.html" %}

{% block main %}

<main class="flex-shrink-0">
    <div class="container">
        <a type="button" href = "{% url 'panel-page' %}" style="margin-top: 1em;" class="btn btn-sm btn-outline-primary" >Volver al Panel</a> <br></br>
        <form method="post">{% csrf_token %}
            <p> Estas seguro que quieres borrar {{object }}?</p>
            {{ form }}
            <input type="submit" value="Confirmar">
        </form>
        <a href="{% url 'panel-page' %}"></a>
    </div>
</main>
{% endblock %}

