{% extends "principal/base.html" %}

{% block main %}
<main class="flex-shrink-0">
    <div class="container" style="margin-top: 1em;">
      
     <a type="button" href="{% url "crear-producto" %}" class="btn btn-sm btn-outline-primary">Nuevo Producto </a> 
     <a type="button" href="#" class="btn btn-sm btn-outline-success">Perfil</a> 

    <table class="table">
        <thead>
            <tr>
                <th scope="col">  </th>
                <th scope="col">  </th>
                <th scope="col"> Marca </th>
                <th scope="col"> Categoria </th>
                <th scope="col"> Tipo </th>
                <th scope="col"> Fecha de Vto </th>
                <th scope="col"> Precio </th>
                <th scope="col"> Imagen </th>
                
            </tr>
        </thead>
             <tbody>
                    {%for Productos in Productos %}
                        <tr>
                            <th scope="row"></th>
                            <td>
                                <a type="button" href="#" class="btn btn-sm btn-outline-warning">Editar</a>
                                <a type="button" href="#" class="btn btn-sm btn-outline-danger">Eliminar</a>
                            </td>
                            <td>{{Productos.marca}}</td>
                            <td>{{Productos.categoria}}</td>
                            <td>{{Productos.tipo}}</td>
                            <td>{{Productos.fecha_Vto}}</td>
                            <td>{{Productos.precio}}</td>
                            <td>{{productos.image.url}}</td>
                            

                    
                        </tr>
                    {% endfor %}
             </tbody>
    </table>
        
    </div>
    <a type="button" href= "{% url 'main-page' %}" class="btn btn-sm btn-outline-success">Cerrar Sesion </a> 
</main>
{% endblock %}