{% extends "principal/base.html" %}

{% block main %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">About</h1>
        <p class="lead text-muted"> Participantes: Santiago David, Sandra Dipacce y Santiago Garcia </p>
       
      </div>
    </div>
  </section>
  <main class="flex-shrink-0">
    <div class="container">
        
        <p class="lead" align="justify">
            Contar para que sirve la app

         </p>
         <p class="lead" align="justify">
            
            
        </p>
      
    </div>
  </main>

{% endblock %}